# ======================
# Node / Backend
# ======================
node_modules/
npm-debug.log

# ======================
# SQLite Databases
# ======================
*.db
*.db-journal
*.sqlite
*.sqlite3

# ======================
# OS Files
# ======================
.DS_Store

# ======================
# Environment files
# ======================
.env
.env.local

# ======================
# Build folders (React / Vite)
# ======================
dist/
build/


.vscode/